.pLibraries {
    color: black;
    font-size: 110%;
    font-family: "Times New Roman", serif;
    line-height: 1.5;
}
body{
    background-color: moccasin ;
}

th {
    background-color: #009879;
    color: white;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 10px;
    font-size: 0.9em;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: circle;
}

b + i{
    color: darkblue;
}
p b{
    color: darkblue;
}
p>i{
    font-family: Calibri, serif;
}
span{
    color: darkblue;
}
h1:first-child{
    color: navy;
}
#picture{
    float: left;
    position: relative;
    padding: 10px;
}